Q1 Given the data below, resample the data to get the following:
#1 closing price for first of every month
#2 closing price for first business day of every month'''

import pandas as pd
from pandas_datareader import data
# Get the DAX index from Yahoo
DAX = data.DataReader(name='^GDAXI', data_source='yahoo', start='2022-1-1')

In [109]:
# Peek at the data
DAX.head(10).T

Date,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14
High,1.606938e+04,1.620258e+04,1.628535e+04,1.615656e+04,1.604428e+04,1.601534e+04,1.597999e+04,1.606150e+04,1.609029e+04,1.597070e+04
Low,1.594316e+04,1.603652e+04,1.616172e+04,1.598863e+04,1.586271e+04,1.572423e+04,1.588039e+04,1.595554e+04,1.594178e+04,1.583373e+04
Open,1.594744e+04,1.606980e+04,1.617744e+04,1.607616e+04,1.599902e+04,1.600644e+04,1.591882e+04,1.605493e+04,1.595983e+04,1.592937e+04
Close,1.602073e+04,1.615261e+04,1.627175e+04,1.605203e+04,1.594774e+04,1.576827e+04,1.594181e+04,1.601032e+04,1.603159e+04,1.588324e+04
Volume,5.686580e+07,7.518740e+07,6.824450e+07,7.575670e+07,7.446930e+07,8.283430e+07,7.462210e+07,6.935700e+07,7.297610e+07,8.045770e+07
Adj Close,1.602073e+04,1.615261e+04,1.627175e+04,1.605203e+04,1.594774e+04,1.576827e+04,1.594181e+04,1.601032e+04,1.603159e+04,1.588324e+04

### Solution:

#### 1. closing price for first of every month

In [110]:
DAX.resample('BMS').asfreq()       #First business  of Month

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-03,16069.379883,15943.160156,15947.440430,16020.730469,56865800,16020.730469
2022-02-01,15687.959961,15537.049805,15620.559570,15619.389648,74929400,15619.389648
2022-03-01,14448.610352,13904.849609,14404.219727,13904.849609,145245900,13904.849609
2022-04-01,14506.019531,14403.089844,14447.780273,14446.480469,72477600,14446.480469
2022-05-02,14036.110352,13778.129883,13996.820312,13939.070312,85974500,13939.070312
2022-06-01,14489.000000,14329.509766,14478.370117,14340.469727,68008900,14340.469727
2022-07-01,12894.379883,12623.230469,12627.660156,12813.030273,80285900,12813.030273
2022-08-01,13570.219727,13464.900391,13471.200195,13479.629883,57227900,13479.629883
2022-09-01,12743.049805,12603.580078,12713.750000,12630.230469,61602700,12630.230469
2022-10-03,12227.870117,11893.940430,11951.839844,12209.480469,63674200,12209.480469

#### 2 closing price for first business day of every month

In [111]:
# The data has missing dates. We need to first fill all gaps
timeindex = pd.date_range("2022-01-01", "2022-10-18", freq="D")
s = DAX.reindex(timeindex)
s.ffill(inplace=True)

# Resample the data for first of the month
s.resample("MS").asfreq()

,High,Low,Open,Close,Volume,Adj Close
2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-01,15687.959961,15537.049805,15620.559570,15619.389648,74929400.0,15619.389648
2022-03-01,14448.610352,13904.849609,14404.219727,13904.849609,145245900.0,13904.849609
2022-04-01,14506.019531,14403.089844,14447.780273,14446.480469,72477600.0,14446.480469
2022-05-01,14187.019531,14038.549805,14095.929688,14097.879883,102033100.0,14097.879883
2022-06-01,14489.000000,14329.509766,14478.370117,14340.469727,68008900.0,14340.469727
2022-07-01,12894.379883,12623.230469,12627.660156,12813.030273,80285900.0,12813.030273
2022-08-01,13570.219727,13464.900391,13471.200195,13479.629883,57227900.0,13479.629883
2022-09-01,12743.049805,12603.580078,12713.750000,12630.230469,61602700.0,12630.230469
2022-10-01,12137.769531,11973.910156,12063.089844,12114.360352,89235000.0,12114.360352

# Other resampling rules

B       business day frequency
C       custom business day frequency (experimental)
D       calendar day frequency
W       weekly frequency
M       month end frequency
SM      semi-month end frequency (15th and end of month)
BM      business month end frequency
CBM     custom business month end frequency
MS      month start frequency
SMS     semi-month start frequency (1st and 15th)
BMS     business month start frequency
CBMS    custom business month start frequency
Q       quarter end frequency
BQ      business quarter endfrequency
QS      quarter start frequency
BQS     business quarter start frequency
A       year end frequency
BA      business year end frequency
AS      year start frequency
BAS     business year start frequency
BH      business hour frequency
H       hourly frequency
T       minutely frequency
S       secondly frequency
L       milliseonds
U       microseconds
N       nanoseconds

***